body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: darkblue;
    font-family: Impact;
    font-size: 48pt;
}

h2 {
    font-family: sans-serif;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    font-family: sans-serif;
    padding-bottom: 10px;
}

p {
    font-family: sans-serif;
}

button {
    margin-bottom: 20px;
}

figcaption {
    font-family: sans-serif;
}